# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Environment variables
# ======================
.env

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Build outputs
# ======================
dist/
build/
.out/

# ======================
# Vite
# ======================
.vite/

# ======================
# Prisma
# ======================
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# ======================
# OS & Editor
# ======================
.DS_Store
Thumbs.db

.vscode/
.idea/
